*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}

.team{
	position: relative;
	width: 100%;
	height: 100%;
    background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-image: url('wallpaperabout.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: rgb(255, 255, 255);
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #6a1751;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}
.img{
    width: 10%;
    height: 10%;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}}

    .credits{
        color:red;
    }

    .footer {
        background-color: #000000;
        border: 1px solid black;
        color:white;
    }
    
    .footer-section{
        display:flex;
        justify-content: space-around;
        padding:2.5rem;
        padding-left:10rem;
        padding-right:15rem;
    }
    
    .f1 img{
        height:100px;
    }
    
    .f2 li{
        list-style: none;
        padding-bottom:0.8rem;
    }
    
    .f3 li{
        list-style: none;
        padding-bottom:0.8rem;
    }
    
    .f4 li{
        list-style: none;
        padding-bottom:0.8rem;
    }
    
    .f2 h3{
        padding-bottom:1rem;
    }
    .f3 h3{
        padding-bottom:1rem;
    }
    
    .f4 h3{
        padding-bottom:1rem;
    }
    